@import '@styles/theme.module.scss';

.root {
    font-family: $paragraph-font;
    font-weight: 500;
    text-align: center;
    background-color: #ff8516;
    color: #ffffff;
    border-radius: 10px;
    width: 8em;
    height: 2.5em;
    line-height: 2.5em;
    cursor: pointer;
}
