@import "@styles/theme.module.scss";

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2.5em;
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 6em;
  padding-right: 3em;
  background-color: #0b0b09;
  color: white;
}

.hero img {
  @media (max-width: 1050px) {
    visibility: hidden;
  }
  width: 60%;
}

.hero h1 {
  font-family: $header-font;
  font-size: 60px;
  font-weight: 600;
}

.hero p {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 4em;
  margin-top: 2em;
}

.hero button {
  font-family: $paragraph-font;
  font-size: 16px;
  font-weight: 300;
  background-color: #202020;
  border-radius: 30px;
  padding: 0.5em;
  margin-bottom: 1.5em;
}

.home {
  display: flex;
  flex-direction: column;
}

.features {
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  row-gap: 1em;
  color: white;
  background-color: #2f2b6f;
}

.features .button {
  margin: 0 auto;
}

.features .h1 {
  font-family: $header-font;
  font-size: 40px;
  font-weight: 600;
}

.features .p {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 60%;
  color: #a7b6c1;
  margin-bottom: 0.5em;
  @media (min-width: $mobile-width) {
    margin-bottom: 2.5em;
  }
}

.features-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
  column-gap: 1em;

  @media only screen and (max-width: $mobile-width) {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 3em;
    padding-bottom: 2em;
    margin-bottom: 1em;
  }
  width: 100%;
}

.features-cards .card {
  text-align: start;
  padding: 1.5em;
  width: 33%;
  background-color: white;
  border-radius: 10px;

  @media only screen and (max-width: $mobile-width) {
    width: 100%;
  }
}

.features-cards .card .h1 {
  font-family: $header-font;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 1em;
  color: #0b0b09;
  @media only screen and (max-width: 550px) {
    font-size: 1em;
  }
}

.features-cards .card p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4a555c;

  @media only screen and (max-width: 550px) {
    font-size: 1em;
  }
}

.difference {
  background-color: #f6f6f6;
  padding-right: 4em;
  padding-left: 4em;
  padding-bottom: 3.5em;
  padding-top: 3.5em;
}

.difference .header {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: start;
  column-gap: 1em;
  margin-bottom: 4em;
}

.difference .header .h1 {
  font-family: $header-font;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.difference .header .p {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 80%;
  color: #001b2e;
}

.difference-cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  column-gap: 1em;

  @media only screen and (max-width: $mobile-width) {
    flex-wrap: wrap;
    gap: 1em 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 3em;
    padding-bottom: 2em;
  }
  width: 100%;
}

.difference-cards .card {
  text-align: start;
  padding: 1.5em;
  width: 33%;
  background-color: white;
  border-radius: 10px;

  @media only screen and (max-width: $mobile-width) {
    width: calc(50% - 1em);
  }
}

.difference-cards .card .h1 {
  font-family: $header-font;
  font-size: 22px;
  font-weight: 600;
  color: #0b0b09;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  @media only screen and (max-width: 550px) {
    font-size: 1em;
  }
}

.difference-cards .card .p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4a555c;

  @media only screen and (max-width: 550px) {
    font-size: 1em;
  }
}

.review {
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
  padding-top: 5em;
}

.review .header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  column-gap: 4em;
  margin-bottom: 5em;
}

.review .header .h1 {
  font-family: $header-font;
  font-size: 32px;
  font-weight: 600;
  width: 50%;
}

.review .header .p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4a555c;
  margin-top: 2em;
  width: 50%;
}

.review .container {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: center;
  column-gap: 7em;
  width: 100%;
  padding-left: 3em;
  padding-right: 3em;
}

.review .container .image {
  width: 50%;
}

.review .container .text {
  padding-top: 0%;
  width: 50%;
}

.review .container .h1 {
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: black;
  margin-top: 3em;
}

.review .container .p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4a555c;
  margin-top: 4em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
}

//faq section

.faq {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  @media (max-width: $mobile-width) {
    padding-bottom: 2em;
  }
  @media (min-width: $mobile-width) {
    padding: 5em;
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: start;
    background-color: #f6f6f6;
  }
}

.faq .title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5em;

  text-align: center;

  @media (min-width: $mobile-width) {
    text-align: start;
    width: 50%;
    row-gap: 0.25em;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 2em;
  }

  .title {
    font-family: $header-font;
    font-size: 2em;
    font-weight: 600;
  }

  .paragraph {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #4a555c;
    @media (min-width: $mobile-width) {
      width: 50%;
    }
  }
}
.accordion_container {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.accordionSummary {
  font-weight: 600;
}
//////////////////////////////////////////////////////////////////////////////////////////
.next_steps {
  padding: 5em;
  background-color: #2f2b6f;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.next_steps h1 {
  font-family: $header-font;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0.25em;
}

.next_steps p {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 4em;
}

.connect_with {
  min-width: auto;
  max-width: 3em;
}
