@import "@styles/theme.module.scss";

.externalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.features {
  display: grid;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10% 20% 5 20%;
  row-gap: 10% 20% 50%;
  justify-items: left;
  text-align: left;
  padding: 4em 5em;
  padding-bottom: 6em;
  height: auto;
  width: 50%;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

.features .h1 {
  font-family: $header-font;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 1.5em;
}

.features .p {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 2em;
  font-size: 18px;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
}

.features .list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 2em;
  margin-bottom: 3.5em;
  margin-top: 4.5em;
  font-size: 1em;
}

.features .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 1.5em;
  align-items: center;
}

.features .row img {
  width: 3.5em;
  display: flex;
}

.features .row .p {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  margin: auto;
  font-size: 0.8em;
}

.features_startup {
  background-color: #ffeedf;
}

.features_investor {
  background-color: #e0dfea;
}

.learnMore_button {
}
